.Planets {
    width: 100%;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 100px;
}

.Planets__title {
    font-size: 70px;
    font-weight: 700;
    color: #cec743;
}

.Planets__container {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    color: #cec743;
    justify-content: center;
}
